---
import Divider from "../Divider.astro";

interface Props {
  type: "text" | "textarea" | "email" | "number";
  name: string;
  placeholder: string;
  required?: boolean;
}

const { type, name, placeholder, required } = Astro.props as Props;
---

<div class="field-w">
  {
    type === "textarea" ? (
      <textarea name={name} placeholder={placeholder} required={required} />
    ) : (
      <input
        type={type}
        name={name}
        placeholder={placeholder}
        required={required}
      />
    )
  }
  <Divider />
</div>

<style lang="scss">
  .field-w {
    padding-top: 0.375rem;

    input[type="text"],
    input[type="email"],
    input[type="number"] {
      background-color: transparent;
      border: none;
      outline: none;
      color: var(--text);
      font-family: var(--neue-montreal);
      font-size: 1rem;
      min-height: 0rem;
      vertical-align: top;
      width: 100%;
      padding: 0.75rem 0;

      &::placeholder {
        color: var(--text);
        opacity: 0.25;
        -webkit-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;
        transition: opacity 0.3s;
      }

      &:hover {
        &::placeholder {
          opacity: 1;
        }
      }
    }

    textarea {
      $padding: 0.875rem;
      background-color: transparent;
      border: none;
      outline: none;
      color: var(--text);
      font-family: var(--neue-montreal);
      font-size: 1rem;
      vertical-align: top;
      width: 100%;
      padding: 0;
      overflow-y: hidden;
      resize: none;
      padding-top: 0.875rem;
      padding-bottom: 0.875rem;
      line-height: 1.25;
      height: 2.75rem;

      &::placeholder {
        color: var(--text);
        opacity: 0.25;
        -webkit-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;
        transition: opacity 0.3s;
      }

      &:hover {
        &::placeholder {
          opacity: 1;
        }
      }
    }
  }
</style>
