---
import { fetchStrapiData, createImageObject } from "../../scripts/fetch";
import StarSVG from "../atoms/svgs/StarSVG.astro";

const data = await fetchStrapiData("footer?populate=*");

const image = createImageObject(data.data.attributes.image);
const footerLinks = data.data.attributes.links;

const currentYear = new Date().getFullYear();
---

<footer class="footer" data-theme="secondary">
  <button class="footer-marquee" data-modal="mailchimp">
    <span class="marquee-w">
      <div class="marquee-split">
        <div class="marquee-block">
          <div class="heading-400">Stay In The Loop</div>
          <div class="marquee-star">
            <StarSVG />
          </div>
        </div>
      </div>
    </span>
  </button>
  <div class="footer-main">
    <div class="content-c">
      <div class="inner-content">
        <svg
          width="100%"
          height="100%"
          viewBox="0 0 112 40"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          class="footer-logo"
        >
          <path
            d="M0.626953 30.8879C0.626953 30.6635 0.739121 30.5888 1.00084 30.5888C2.8703 30.5888 4.40326 30.1401 5.26321 27.4107L13.7132 0.677424C13.7505 0.565258 13.8627 0.490479 14.0123 0.490479H14.3862C14.4983 0.490479 14.6479 0.565258 14.6853 0.677424L23.1352 27.4107C23.9952 30.1401 25.4534 30.5888 27.248 30.5888C27.4724 30.5888 27.5845 30.6635 27.5845 30.8879C27.5845 31.1122 27.4724 31.187 27.2106 31.187C26.1637 31.187 24.6682 31 23.6961 31H22.4622C21.191 31 19.2094 31.187 17.826 31.187C17.4895 31.187 17.3773 31.1122 17.3773 30.8879C17.3773 30.6635 17.4895 30.5888 17.7886 30.5888C20.1441 30.5888 21.4527 30.1401 20.6302 27.4107L18.985 22.1762C18.7233 21.3536 17.8634 20.718 16.966 20.718H9.48818C8.62823 20.718 7.76828 21.3536 7.50656 22.1762L5.86144 27.4107C5.00148 30.1401 6.31011 30.5888 8.66562 30.5888C8.96474 30.5888 9.0769 30.6635 9.0769 30.8879C9.0769 31.1122 8.96474 31.187 8.62823 31.187C7.357 31.187 5.74927 31 4.40326 31C3.35636 31 2.01035 31.187 1.00084 31.187C0.739121 31.187 0.626953 31.1122 0.626953 30.8879ZM8.62823 18.699C8.36651 19.5216 8.85257 20.1946 9.71252 20.1946H16.8165C17.6764 20.1946 18.1625 19.5216 17.9007 18.699L13.7132 5.38846C13.4514 4.5659 13.0775 4.5659 12.8158 5.38846L8.62823 18.699Z"
          ></path>
          <path
            d="M26.1737 39.6743C25.2389 39.6743 24.6407 39.1883 24.6407 38.4405C24.6407 37.8796 24.9772 37.3188 25.6128 37.0197C27.1084 36.3093 30.0622 34.3277 30.3987 32.8321C30.6978 31.7478 30.3239 30.327 29.8378 28.8315L25.6128 14.9227C24.7903 12.1933 23.3321 11.7446 21.7991 11.7446C21.5374 11.7446 21.4626 11.6698 21.4626 11.4455C21.4626 11.2212 21.5374 11.1464 21.7991 11.1464C22.5843 11.1464 23.9677 11.3333 24.9398 11.3333H26.0989C27.8936 11.3333 29.4639 11.2212 31.3334 11.2212H31.4455C31.4829 11.2212 31.5203 11.2212 31.5577 11.2212C33.3898 11.2212 35.1845 11.3333 36.9044 11.3333C37.8391 11.3333 38.8112 11.1464 39.8207 11.1464C40.0824 11.1464 40.1572 11.2212 40.1572 11.4455C40.1572 11.6698 40.0824 11.7446 39.8581 11.7446C38.0634 11.7446 36.9044 12.1933 36.0818 14.9601L31.6325 30.4766C30.2491 35.4493 28.1179 39.6743 26.1737 39.6743ZM28.0805 15.5583L31.4082 26.6255C31.6699 27.4481 32.0438 27.4481 32.2681 26.6255L35.334 15.5957C36.0818 12.9785 35.9322 11.7072 31.5577 11.7072H31.4455C31.4082 11.7072 31.3708 11.7072 31.3334 11.7072C27.4075 11.7072 27.258 12.8663 28.0805 15.5583Z"
          ></path>
          <path
            d="M42.8183 31.5983C40.388 31.5983 39.0046 29.654 39.0046 27.2611C39.0046 23.5222 42.9304 21.1667 46.7441 19.2598C47.5293 18.8859 48.1649 17.9138 48.1649 17.0539V16.6426C48.1649 12.642 46.632 11.3333 44.7251 11.3333C43.0426 11.3333 42.1453 12.2681 42.1453 13.7262C42.1453 14.9601 42.7061 15.5957 42.7061 16.68C42.7061 17.5399 42.2201 18.1008 41.3975 18.1008C40.388 18.1008 39.7524 16.9417 39.7524 15.7453C39.7524 12.7915 42.2201 10.6603 45.3607 10.6603C48.1649 10.6603 50.4083 12.2681 50.4083 16.3061C50.4083 20.1198 50.2213 23.9709 50.2213 27.7846C50.2213 29.5419 50.7448 29.9905 51.4178 29.9905C52.016 29.9905 53.0255 29.2427 53.8855 26.2516C53.9229 25.9899 53.9976 25.9151 54.1472 25.9151C54.2968 25.9151 54.3715 26.0273 54.2967 26.3264C53.362 29.8784 52.5021 31.5983 50.4831 31.5983C48.8753 31.5983 47.3798 30.4018 48.0528 27.635C48.2023 27.0368 47.6789 27.0368 47.3798 27.5602C45.7346 30.6635 44.9121 31.5983 42.8183 31.5983ZM41.1732 26.4012C41.1732 28.1211 41.9209 29.654 43.753 29.654C46.1459 29.654 48.1649 26.7751 48.1649 22.6623V20.6806C48.1649 19.7833 47.5293 19.4094 46.7441 19.7833C43.3791 21.4658 41.1732 23.5222 41.1732 26.4012Z"
          ></path>
          <path
            d="M63.4236 27.2237C63.4236 30.1027 65.2556 30.5888 67.985 30.5888C68.3215 30.5888 68.4711 30.6635 68.4711 30.8879C68.4711 31.1122 68.3215 31.187 67.9476 31.187C66.3025 31.187 64.0592 31 62.5636 31H61.9654C60.4698 31 58.2265 31.187 56.5813 31.187C56.2074 31.187 56.0579 31.1122 56.0579 30.8879C56.0579 30.6635 56.2074 30.5888 56.5439 30.5888C59.3107 30.5888 61.1428 30.1027 61.1428 27.2237V19.372C61.1428 18.5121 60.8063 17.2408 60.4324 16.4556L54.4502 4.45373C53.1789 1.91127 51.6086 1.49999 50.0756 1.49999C49.8513 1.49999 49.7765 1.42521 49.7765 1.20087C49.7765 0.976538 49.8513 0.901758 50.113 0.901758C50.8982 0.901758 52.2068 1.08871 53.1789 1.08871H54.4875C56.0953 1.08871 58.5256 0.901758 60.2455 0.901758C60.6568 0.901758 60.8437 0.976538 60.8437 1.20087C60.8437 1.42521 60.6568 1.49999 60.2829 1.49999C57.3665 1.49999 55.7962 1.91127 57.1048 4.45373L62.5262 15.2592C62.9375 16.0444 63.4983 16.0444 63.8722 15.2592L68.7328 4.52851C69.9293 1.91127 68.5085 1.49999 65.8165 1.49999C65.48 1.49999 65.3304 1.42521 65.3304 1.20087C65.3304 0.976538 65.48 0.901758 65.8539 0.901758C67.312 0.901758 69.1441 1.08871 70.677 1.08871C71.6866 1.08871 72.9578 0.901758 73.9299 0.901758C74.1916 0.901758 74.3038 0.976538 74.3038 1.20087C74.3038 1.42521 74.1916 1.49999 73.9673 1.49999C72.1352 1.49999 70.5649 1.91127 69.3684 4.52851L64.0592 16.1939C63.6853 16.9791 63.4236 18.2503 63.4236 19.1103V27.2237Z"
          ></path>
          <path
            d="M82.5396 15.5583C83.3248 12.9785 83.1753 11.7072 78.8007 11.7072H78.6138C78.5764 11.7072 78.5016 11.7072 78.4268 11.7072C74.4636 11.7072 74.2766 12.8663 75.0618 15.5583L78.3521 26.9246C78.6138 27.7846 78.9877 27.7846 79.212 26.9246L82.5396 15.5583ZM68.5187 11.4455C68.5187 11.2212 68.5935 11.1464 68.8552 11.1464C69.6404 11.1464 70.949 11.3333 71.9211 11.3333H73.155C74.987 11.3333 76.5574 11.2212 78.4268 11.2212H78.6138C78.6512 11.2212 78.7259 11.2212 78.8007 11.2212C80.6328 11.2212 82.4649 11.3333 84.2221 11.3333C85.0821 11.3333 86.2038 11.1464 87.0263 11.1464C87.2881 11.1464 87.3628 11.2212 87.3628 11.4455C87.3628 11.6698 87.2881 11.7446 87.0637 11.7446C85.456 11.7446 84.1474 12.1933 83.3622 14.9601L78.6138 31.0374C78.5764 31.2618 78.352 31.4113 78.1651 31.4113H77.8286C77.6043 31.4113 77.4173 31.2618 77.3425 31.0374L72.5941 14.9601C71.7716 12.1933 70.3508 11.7446 68.8178 11.7446C68.5935 11.7446 68.5187 11.6698 68.5187 11.4455Z"
          ></path>
          <path
            d="M92.0117 31.5983C88.1606 31.5983 85.9172 28.0089 85.9172 21.8023C85.9172 15.5209 88.5719 10.6977 92.7968 10.6977C95.7506 10.6977 97.7696 13.4271 97.7696 16.493C97.7696 18.5868 97.3209 19.372 94.7785 19.372H89.5066C88.6466 19.372 87.9362 20.0076 87.8988 20.8676V21.5032C87.8988 26.1768 89.7309 29.6166 92.8716 29.6166C94.5541 29.6166 96.7975 28.6071 98.2556 23.4474C98.3678 23.1109 98.4426 23.0361 98.5921 23.0361C98.8165 23.0361 98.8165 23.1857 98.7417 23.5596C97.3957 29.0932 95.0028 31.5983 92.0117 31.5983ZM88.1232 17.3156C88.0858 18.1756 88.684 18.8486 89.544 18.8486H93.0585C95.0776 18.8486 95.4888 17.9886 95.4888 16.4556C95.4888 13.988 94.4793 11.3707 92.3108 11.3707C90.2918 11.3707 88.5719 14.0254 88.1232 17.3156Z"
          ></path>
          <path
            d="M106.451 31.5983C104.469 31.5983 103.646 31.2244 102.525 31.2244C101.927 31.2244 101.403 31.4113 101.067 31.4113C100.917 31.4113 100.767 31.3365 100.767 31C100.805 27.0742 99.8701 24.2326 99.7579 23.4848C99.6831 23.1857 99.7579 23.0361 99.9823 23.0361C100.169 23.0361 100.244 23.1483 100.319 23.4474C101.478 27.4855 101.927 30.9253 106.525 30.9253C108.432 30.9253 109.33 29.654 109.33 28.0089C109.33 25.5786 108.208 24.1952 104.843 21.2415C101.814 18.6242 100.842 17.2782 100.842 15.2592C100.842 12.6046 102.749 10.6977 105.329 10.6977C106.712 10.6977 107.385 11.0342 108.507 11.0342C109.18 11.0342 109.741 10.8473 110.077 10.8473C110.227 10.8473 110.376 10.9221 110.376 11.2212C110.339 15.4461 110.75 16.68 110.75 17.8764C110.75 18.2129 110.638 18.3251 110.489 18.3251C110.339 18.3251 110.264 18.2129 110.227 17.8764C109.554 13.128 108.208 11.3333 105.217 11.3333C103.646 11.3333 102.6 12.6793 102.6 14.3992C102.6 16.3435 103.908 17.5025 106.338 19.5216C109.666 22.3631 111.049 24.0083 111.049 26.5881C111.049 29.9157 108.956 31.5983 106.451 31.5983Z"
          ></path>
        </svg>
        <ul class="footer-link-w">
          {
            footerLinks.map((link: any, index: number) => (
              <>
                <li style="overflow: hidden">
                  {link.url && !link.modal && (
                    <a
                      class="footer-link"
                      href={link.url}
                      aria-label={link.alt}
                    >
                      <div class="label">{link.title}</div>
                    </a>
                  )}
                  {link.modal && (
                    <button
                      class="footer-link"
                      aria-label={link.alt}
                      data-modal={link.modal_type}
                    >
                      <span>
                        <div class="label">{link.title}</div>
                      </span>
                    </button>
                  )}
                </li>
                {index < footerLinks.length - 1 && (
                  <div class="footer-star">
                    <StarSVG />
                  </div>
                )}
              </>
            ))
          }
        </ul>
      </div>
      <div class="img-w">
        <div class="img-tint"></div>
        <img
          src={image.src}
          srcset={image.srcset}
          alt={image.alt}
          sizes="(min-width: 920px) 35vw, (min-width: 520px) 75vw, 60vw"
        />
      </div>
    </div>
  </div>
  <div class="footer-btm">
    <div class="p2">Aya Yves {currentYear}</div>
    <div class="p2">
      Site by <a href="https://www.samuelbroomby.com">Wellmade</a>
    </div>
  </div>
</footer>

<style lang="scss">
  @use "../../styles/vars" as *;

  .footer {
    z-index: 5;
    background-color: var(--bg-dark);
    position: relative;

    .footer-marquee {
      z-index: 2;
      width: 100%;
      border-top: 1px solid var(--divider-partial);
      border-bottom: 1px solid var(--divider-partial);
      display: flex;
      position: relative;
      overflow: clip;
      cursor: pointer;

      .marquee-w {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 2rem;
      }

      .marquee-split {
        display: flex;
        flex-direction: row;
        flex: none;
      }

      .marquee-block {
        $padding: 1.5rem;
        flex: none;
        padding-left: $padding;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: $padding;
      }

      .marquee-star {
        width: 0.875rem;
      }
    }

    .footer-main {
      z-index: 3;
      max-width: $desktop-max;
      margin-left: auto;
      margin-right: auto;
      padding: 10vh var(--page-margin);
      position: relative;
      align-items: center;
      display: flex;
      justify-content: center;

      .content-c {
        width: 25em;
        max-width: 25rem;
        aspect-ratio: 1 / 1.3;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-grow: 0;

        @media (max-width: $desktop) {
          width: 22rem;
        }

        @media (max-width: $phablet) {
          aspect-ratio: 1 / 1.4;
          width: 20rem;
        }

        @media (max-width: $mobile) {
          width: 60vw;
        }
      }

      .inner-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 5;

        .footer-logo {
          width: 31em;
          max-width: 28rem;

          @media (max-width: $desktop) {
            width: 26rem;
          }

          @media (max-width: $phablet) {
            width: 23rem;
          }

          @media (max-width: $mobile) {
            width: 75vw;
          }
        }

        .navigation-link {
          font-size: 0.925rem;
          font-weight: 400;
          letter-spacing: 0.02em;
          cursor: pointer;
          overflow: hidden;
          transition: 0.3s all;
          position: relative;
        }

        .footer-link-w {
          display: flex;
          flex-direction: row;
          align-items: center;

          .footer-star {
            width: 0.625rem;
          }

          .footer-link {
            font-size: 0.875rem;
            cursor: pointer;
            overflow: hidden;
            position: relative;

            .label {
              padding: 0.325rem 1rem;
              pointer-events: none;

              @media (max-width: $mobile) {
                padding: 0.25rem 0.75rem;
              }
            }
          }
        }
      }

      .img-w {
        width: 100%;
        height: 100%;
        border-radius: var(--radius-small);
        overflow: clip;
        position: absolute;

        .img-tint {
          position: absolute;
          background: black;
          opacity: 0.5;
          z-index: 2;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          overflow: clip;
          border-radius: var(--radius-small);
          z-index: 1;
        }
      }
    }

    .footer-btm {
      display: flex;
      justify-content: space-between;
      padding: 0 var(--page-margin) 2.25rem;

      .p2 {
        opacity: 0.75;
      }
    }
  }
</style>

<script>
  import { initMarquee, initLinkGroups } from "../../scripts/animations";

  const marquee = document.querySelector(".marquee-w");
  initMarquee(marquee, 45);

  const footerLinksWrapper: HTMLElement | null =
    document.querySelector(".footer-link-w");

  initLinkGroups(footerLinksWrapper, ".footer-link", {
    dim: true,
    dimOpacity: 0.5,
    dimDuration: 0.2,
    dimEase: "none",
    ticker: true,
    translateX: false,
  });
</script>
